@CHARSET "UTF-8";

.container{
	background-color:#c6c6c6;
	padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
.thumbnail{
	border: medium;
}
.thumbnail > img {
  	width: 200px; 
	height: auto;
}
